@import "tailwindcss";

@layer utilities {
  /* Gradient background */
  .bg-primary {
    background: #00b0bd;
    background: linear-gradient(
      321deg,
      rgba(0, 176, 189, 1) 0%,
      rgba(9, 9, 46, 1) 66%
    );
  }

  /* Solid color */
  .text-primary {
    color: #3b82f6;
  }

  .bg-primary-solid {
    background-color: #3b82f6;
  }

  .border-primary {
    border-color: #3b82f6;
  }
}
